/.ipynb_checkpoints
/Untitled.ipynb
/__pycache__
/checking_solution.ipynb
/solution_2021_02_04.txt
/solution_2021_02_07.txt
/solution_2021_02_07_a.txt
/solution_2021_02_07_b.txt
/solution_2021_02_08.txt
/solution_2021_02_09.txt
/solution_2021_02_09_same.txt