*.ipynb_checkpoints
*/__pycache__
/solutions
/.vscode
/archive/*
*/archive
# notebook/pytohn files
*.pyc

# test files for the solution saving
*.pdf

# vscodes settings
.vscode/settings.json

.DS_Store
